*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
small{
    color: orange;
}
.arrow{
    float: right;
    padding: 0px 0 0 20px;
    font-size: 32px;
}
#map{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 70%;
    height: 95%;
}
.list-content{
    padding-bottom: 10px
}
.scroll-area{  
    height:calc(100% - 800px);   
    overflow-y:scroll;
  }